.root__section {
  width: calc(100% - 400px);
  margin: auto;
}

@media screen and (max-width: 980px) {
  .root__section {
    width: 90%;
  }
}

.root {
  background-color: black;
  min-height: 100vh;
  font-family: 'Inter';
  padding-bottom: 194px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}

.header {
  min-height: 132px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #A5A5A5;
}

.logo {
  width: 148px;
}

.profile {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.user-info__photo {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .user-info__photo {
    margin-top: 40px;
  }
}

.user-info__photo:hover{
  opacity: 0.5;
}

.user-info__data {
  max-width: 364px;
  margin-left: 36px;
}

@media screen and (max-width: 980px) {
  .user-info__data {
    margin: 20px 0;
    text-align: center;
  }
}

.user-info__name {
  margin: 0;
  font-weight: normal;
  font-size: 54px;
  line-height: 56px;
}

.user-info__job {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 25px;
}

.user-info__button {
  position: absolute;
  top: 16px;
  right: 0;
}

@media screen and (max-width: 1090px) {
  .user-info__button {
    position: static;
    margin-bottom: 40px;
  }
}

.user-info__edit-button{
  margin-top: 24px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 38px;
  height: 18px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}
.user-info__edit{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.user-info__edit-button:focus {
  outline-color: greenyellow;
}

@media screen and (max-width: 980px) {
  .user-info__edit-button {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.user-info {
  display: flex;
  position: relative;
  align-items: flex-start;
  color: white;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .user-info {
    flex-direction: column;
    align-items: center;
  }
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}

.places-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 18px 18px;
  justify-content: center;
}

.place-card__image {
  height: 282px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  cursor: pointer;
}

.place-card__image::after {
  content: '';
  display: block;
  width: 282px;
  height: 282px;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.place-card__delete-icon {
  background: url(../images/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.place-card:hover .place-card__delete-icon {
  display: block;
}

.place-card__description {
  display: flex;
  min-height: 78px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 22px;
}

.place-card__name {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
}

.place-card__like-icon {
  background: url(../images/like-inactive.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
}

.place-card__like-icon_liked {
  background-image: url(../images/like-active.svg);
}

.place-card__like-icon:hover {
  transform: scale(1.03);
}

.place-card__like-checker{
  margin: 0;
  padding-top: 3px;
  text-align: center;
}

.place-card{
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}

.popup__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}

.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.popup__form {
  margin-top: 60px;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 6px 13px;
  margin-bottom: 24px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  font-size: 36px;
  color: rgba(0, 0, 0, .2);
}

.popup__button_activate{
  color: #ffffff;
  background-color: #000000;
}

.popup__button:disabled{
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
}

.popup.popup_is-opened {
  display: flex;
}

.error{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 4px;
  margin-bottom: 16px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.change-profile__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .change-profile__content {
    width: calc(100% - 60px);
  }
}

.change-profile__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.change-profile__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.change-profile__form {
  margin-top: 60px;
}

.change-profile__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 0px 13px;
  margin-bottom: 24px;
}

.change-profile__input:last-of-type {
  margin-bottom: 0;
}

.change-profile__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  color: #ffffff;
  background-color: #000000;
  font-size: 36px;
}
.change-profile__button:disabled{
  color: rgba(0, 0, 0, .2);
  background-color: #ffffff;
}

.change-profile__save{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

.change-profile.change-profile_is-opened {
  display: flex;
}

.change-profile__error{
  color: #FF0000;
  font-size: 14px;
  transition: .3s;
  padding-bottom: 15px;
  opacity:  0;
  line-height: 17px;
}

.change-profile__input__invalid .change-profile__error{
  opacity: 1;
}

.change-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.image__content {
  max-width: 80vw;
  max-height: 80vh;
  position: relative;
}

@media screen and (max-width: 540px) {
  .image__content {
    width: calc(100% - 60px);
  }
}

.image__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.image.image_is-opened {
  display: flex;
}

.image__picture{
  height: 80vh;
  width: 80vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-image__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup-image__content {
    width: calc(100% - 60px);
  }
}

.popup-image__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.popup-image__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.popup-image__form {
  margin-top: 60px;
}

.popup-image__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 6px 13px;
  margin-bottom: 24px;
}

.popup-image__input:last-of-type {
  margin-bottom: 0;
}

.popup-image__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  font-size: 18px;
  color: rgba(0, 0, 0, .2);
}

.popup-image__button_activate{
  color: #ffffff;
  background-color: #000000;
}

.popup-image__button:disabled{
  background-color: #000;
  color: #fff;
}

.popup-image.popup_is-opened {
  display: flex;
}

.error{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 4px;
  margin-bottom: 16px;
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url(./vendor/Inter-Regular.woff2) format("woff2");
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url(./vendor/Inter-Black.woff2) format("woff2");
}

body{background-color:#000}
